<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/content/index.css" />
    <meta name="viewport" content="width = device-width, initial-scale= 1.0" />
    <script src="https://kit.fontawesome.com/18264bfb6e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/admin.js"></script>
    <title>Admin Page</title>
</head>
<body>
    <div class="side-menu">
        <h4 class="workamp-text">WORKAMP</h4>
        <div class="avatar">
            <img src="src/admin.jpg.png" alt="Admin Profile Image" class="icon">
            <h4 class="avatar-text">ADMIN</h4>
        </div>
        <div class="menu-select">
            <a href="{{url_for('admin_dash')}}">
                <h4 class="menu-opt" id="selected">DASHBOARD</h4>
            </a>
            <a href="{{url_for('admin')}}">
                <h4 class="menu-opt">UPCOMING</h4>
            </a>
        </div>
        
    </div>
    <div class="grid" id="dashboard">
        <div class="row">
            <div class="dash-overlay">
                <a href="{{url_for('admin')}}" class="dash-link">
                <div class="item" id="long">
                    <div class="dash-list">Pending Tasks</div>
                    <div class="remaining">{{recordsc}} remaining</div>
                </div>
                </a>
            </div>
            
        </div>
        <div class="row">
            <div class="dash-overlay">
                <a href="admin2.html" class="dash-link"></a>
                <div class="item" id="long">
                    <div class="dash-list">Completed Tasks</div>
                    <div class="remaining">7 done today</div>
                </div>
            </div>
            </a>
        </div>
        <div class="button" id="expense-button">
            <div class="button-text" id="expense-button-text">Record Expense</div>
        </div>
    </div>

    <div class="expense-detail">
        <p class="expense-text"><b>Title: </b>Cafe coffee day coffee beans</p>
        <p class="expense-text"><b>Amount: </b>Rs 2500/-</p>
        <p class="expense-text"><b>Category:</b> Beverages &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>Date of Payment:</b> 7th March 2019</p>
        <p class="expense-text"><b>Invoice ID: </b>9876#### &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;&nbsp;<b>GST No:</b> GA3456HT####</p>
        <p class="expense-text"><b>Payment Mode:</b> Cash</p>

    </div>
</body>
</html>