<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/content/index.css" />
    <meta name="viewport" content="width = device-width, initial-scale= 1.0" />
    <script src="https://kit.fontawesome.com/18264bfb6e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/admin.js"></script>
    <title>Admin Page</title>
</head>
<body>
    <div class="side-menu">
        <h4 class="workamp-text">WORKAMP</h4>
        <div class="avatar">
            <img src="src/admin.jpg.png" alt="Admin Profile Image" class="icon">
            <h4 class="avatar-text">ADMIN</h4>
        </div>
        <div class="menu-select">
            <a href="{{url_for('lead_show')}}">
                <h4 class="menu-opt" ">DASHBOARD</h4>
            </a>
            <a href="{{url_for('admin')}}">
                <h4 class="menu-opt" id="selected">UPCOMING</h4>
        </div>
        </a>
    </div>
    <div class="cards-list">
        <div class="top-line">
            <div class="sec-container">
                <h3 class="complete-details">
                    Tasks completed this month
                </h3>
                <div class="bar-container">
                    <div class="bar-outer">
                        <div class="bar-inner">
                        </div>
                    </div>
                </div>
                <p class="percent">{{per}} %</p>
            </div>

            <form method="POST" action="{{url_for('lead')}}">
                <div class="month">
                    <select name="timeframe" class="checklist month-check">
                        <option value="0">Select</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <div class="date-range hidden" id="dates">
                        <input name="from" type="date" class="drange" id="from"> :
                        <input name="to" type="date" class="drange" id="to">
                    </div>
                    <div class="buttons">
                        <button class="button" type="submit" id="submit-lead">Submit</button>
                    </div>

            </form>

        </div>

    </div>
    <a href='./expenditure?time={{timeframe}}&today={{today}}&tomonth={{tomonth}}&fromday={{fromday}}&frommonth={{frommonth}}'>
        <div class="button" id="task-det">
            <div class="button-text" id="td-button">Check Task Details</div>
        </div>
    </a>
    <div class="expense-sec">
        <p class="sec-head">
            Total Expenditure
            <b>Rs. {{total}}</b>
        </p>
        <!--<h3 class="amount" id="sec">

        </h3>-->
        <p class="sec-desc">
            You have spent Rs. {{diff}} {{word}} this month than the monthly average
        </p>
        <div class="button" id="task-det">
            <a href='./expenditure?time={{timeframe}}&today={{today}}&tomonth={{tomonth}}&fromday={{fromday}}&frommonth={{frommonth}}'>
                <div class="button-text" id="td-button">See all expenditure details</div>
            </a>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#month-check").change(function () {

                var el = $(this);

                if (el.val() === "13") {
                    $("#dates").removeClass("hidden");
                } else {
                    $("#dates").addClass("hidden");
                }
            });
            $("#bar-inner").width("60%");
        });
    </script>

</body>
</html>